



table{
border-collapse: collapse;
left: 0;
right: 0;
margin:auto;
}
th{
position:sticky;
top:0px;
background-color: white;
font-size: 30px;
padding-right: 50px;
}
td{
    padding-bottom: 40px;
    border-top: solid;
    padding-rightt: 50px;
    vertical-align: top;
    font-size: 30px;
    
}


